body{
  font-family: cursive;
  color: #ffdaa3f;
  font-size: 20px;
  line-size: 30px;
  background-color: #d19130;
}

h1{
  font-family: cursive;
  width: 300px;
  text-align: center;
  font-weidht: normal;
  font-size: 40px;
  line-height: 60px;
}
.site-header{
  width: 200px;
  height: 180px;
  bacground: #f0db24;
  margin-bottom: 100;
  
}
.conteiner{
  width: 230px;
  padding: 0 40px;
}

BasicTools{
  widht: 80px;
  height: 120px;

}

Spisok{
  widht:;
  height:;


}




























